@charset "UTF-8";

body {
	margin-top: 20px;
}

.row{
	margin-right:-5px!important;
}

.container{
	margin-top: 50px;
	max-width:1300px !important;
}

a{
	text-decoration:none!important;
}

#all-grade{
	background-color:#406882;
	color:white;
}

.table thead th{
	
	border-bottom:2px solid #406882!important;
}

.h6, h6{
	font-size: 1.2rem!important;
}

.list-group-item:focus, .list-group-item:hover{
	color:#406882!important;
}

.purchase-id{
	height:40px;
}

#purchase-option{
	padding-left:30px;
}

.detail-detail>span{
	color:#1A374D!important;
	font-size:20px!important;
}

#md-detail{
	background-color:#406882;
	color:white;
}

#md-delete{
	background-color:#406882;
	color:white;
}

#modify-profile{
	background-color:#406882;
	color:white;
}

.delete-wish{
	background-color:#406882;
	color:white;
}

.read-review{
	background-color:#406882;
	color:white;
}

.delete-btn{
	background-color:#406882;
	color:white;
}

.wish-purchase-text>a{
	color:inherit;
}

.status-box{
	color:black;
}

.write-md-review{
	background-color:#406882;
	color:white;
	font-size: 15px;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0px solid rgba(0, 0, 0, 0);
	border-radius: .25rem;
	margin-bottom: 1.5rem;
	box-shadow: 0 2px 6px 0 rgb(218 218 253/ 65%), 0 2px 6px 0
		rgb(206 206 238/ 54%);
}

.fm-file-box {
	font-size: 25px;
	background: #e9ecef;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: .25rem;
}

.ms-2 {
	margin-left: .5rem !important;
}

.fm-menu .list-group a {
	font-size: 16px;
	color: #5f5f5f;
	display: flex;
	align-items: center;
}

.list-group-flush>.list-group-item {
	border-width: 0 0 1px;
}

.list-group-item+.list-group-item {
	border-top-width: 0;
}

.py-1 {
	padding-top: .25rem !important;
	padding-bottom: .25rem !important;
}

.list-group-item {
	position: relative;
	display: block;
	padding: .5rem 1rem;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .125);
}

.radius-15 {
	border-radius: 15px;
}

.fm-icon-box {
	font-size: 32px;
	background: #ffffff;
	width: 52px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: .25rem;
}

.font-24 {
	font-size: 24px;
}

.ms-auto {
	margin-left: auto !important;
}

.font-30 {
	font-size: 30px;
}

.user-groups img {
	margin-left: -14px;
	border: 1px solid #e4e4e4;
	padding: 2px;
	cursor: pointer;
}

.rounded-circle {
	border-radius: 50% !important;
}

#header {
	margin-bottom: 100px;
}

#profile-box {
	display: flex;
	justify-content: center;
}

.img-profile {
	border-radius: 70%;
	width: 100%;
	height: 100%;
}

.profile-detail {
	text-align: center;
}

.name {
	font-weight: bold;
}

.list li {
	margin-top: 5px;
}

.label {
	font-size: 12px;
}
.grade{
	display:flex;
	justify-content: center;
	font-weight: bold;
}
.detail{
	display:flex;
	flex-direction:column;
	flex:1 1;
	justify-content: flex-end;
    height:120px;
}

.detail-title{
	line-height:90px;
}

.detail-title a{
	text-decoration:none;
	color:black;
}

.icon-box{
	flex:1 1;
	height:100px;
}
.icon-icon{
	flex:1 1;
}

.detail-title-one{
	display:flex;
	flex-direction:column;
	flex:1 1;
	justify-content: center;
}

.form-select{
	float:right;
}

#profile-box{
	flex-wrap: wrap;
}
ul{
	list-style:none;

}

.purchase-list{
	border: 1px solid black;

}

.navigator>button{
	margin:auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index:1000 !important;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }

}

.overlay {
	z-index: 100;
}
   

/* 상품 박스 CSS */

.md-box {
	display: flex; 
}

.md-box>div {
	padding:5px;
}  

.img-box {
	display:flex;
	flex: 1 1;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

.img-box2 a{
	width: 100%;
    height: 100%;
}


.img-box .img-box2 {
	display:flex;
	align-items: center;
	text-align: center;
}

.img-box2 {
	width:80px;
	height:100px;
}

.img-box2 img {
	width:100%;
	height:100%;
}

.detail-box {
	flex: 5 1;
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
}

.status-box {
	display:flex;
	flex: 1 1;
	align-items: center;
	text-align: center;
}

.status-box>span {
	flex: 1 1;
}

.btn-box {
	display:flex;
	flex: 1 1;
	align-items: center;
	text-align: center;
}

.btn-box>button {
	flex: 1 1;
}
  
.detail-box span{margin-right:5px;}
.detail-box span::after{padding-left:5px;content:"|"}
.detail-box span:last-child::after{content:""}

.footer-bs{
	
	bottom:5000px;
}

.popup .content img {
	max-width:80%;
	height:auto;
}