<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="Cart">
  
  <insert id="insertIntoCart">
  		insert into cart values(cart_id_seq.nextVal,#{member_id},#{md_id},#{cart_item},#{cart_item_count},#{cart_price},default,#{cart_image})
  </insert>
  
  <update id="updateCartMdQuantityAndPrice">
  		update cart set cart_item_count = cart_item_count + #{cart_item_count}, cart_price = #{cart_price} where md_id = #{cart_id}
  </update>
  
  <select id="selectByMemberId" resultType="kh.spring.dto.CartDTO">
  		select * from cart where member_id = (select member_id from member where member_username = #{member_username})
  </select>
  
  <delete id="deleteCart">
  		delete from cart where cart_id = ${cart_id}
  </delete>
  
  <update id="addItemCount">
  		update cart set cart_item_count = cart_item_count+1, cart_price = cart_price+(cart_price/cart_item_count) where cart_id = #{cart_id}
  </update>
  
  <update id="subtractItemCount">
  		update cart set cart_item_count = cart_item_count-1, cart_price = cart_price-(cart_price/cart_item_count) where cart_id = #{cart_id}
  </update>
  
  <select id="selectMdByMdId" resultType="kh.spring.dto.CartDTO">
  		select * from cart where md_id = #{md_id} and member_id = #{member_id}
  </select>
  
  <delete id="deleteAll">
  		delete from cart where member_id = ${member_id}
  </delete>
  
  <select id="selectAllByMemberId" resultType="map">
  		select * from cart where member_id = ${member_id}
  </select>
  </mapper>