<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="Coupon">
  
  <select id="selectAllByMemberId" resultType="kh.spring.dto.CouponDTO">
  		select * from coupon where member_id = #{member_id} and coupon_used_yn = 'Y' and coupon_valid_date > TO_CHAR(sysdate,'YY/MM/DD')
  </select>
  
  <select id="selectByMemberIdCountCoupon" resultType="int">
  	select count(*) from coupon where member_id = #{value}
  </select>
  
  <insert id="insertSignUpEventDelivery">
  	insert into coupon values(coupon_id_seq.nextval,'웰컴 배송비 쿠폰',2500,'회원가입이벤트','무제한','N',sysdate,#{value})
  </insert>
  
  <insert id="insertSignUpEventDiscount">
  	insert into coupon values(coupon_id_seq.nextval,'웰컴 할인 쿠폰',10000,'회원가입이벤트','무제한','N',sysdate,#{value})
  </insert>
  
  <insert id="insertStarGradeDelivery">
  	insert into coupon values(coupon_id_seq.nextval,'별 등급 배송비 쿠폰',2500,'등급쿠폰','무제한','N',sysdate,#{value})
  </insert>
  
  <insert id="insertStarGradeDiscount">
  	insert into coupon values(coupon_id_seq.nextval,'별 등급 할인 쿠폰',5000,'등급쿠폰','무제한','N',sysdate,#{value})
  </insert>
  
  <insert id="insertMoonGradeDelivery">
  	insert into coupon values(coupon_id_seq.nextval,'달 등급 배송비 쿠폰',2500,'등급쿠폰','무제한','N',sysdate,#{value})
  </insert>
  
  <insert id="insertMoonGradeDiscount">
  	insert into coupon values(coupon_id_seq.nextval,'달 등급 할인 쿠폰',10000,'등급쿠폰','무제한','N',sysdate,#{value})
  </insert>
  
  <insert id="insertSunGradeDelivery">
  	insert into coupon values(coupon_id_seq.nextval,'해 등급 배송비 쿠폰',2500,'등급쿠폰','무제한','N',sysdate,#{value})
  </insert>
  
  <insert id="insertSunGradeDiscount">
  	insert into coupon values(coupon_id_seq.nextval,'해 등급 할인 쿠폰',50000,'등급쿠폰','무제한','N',sysdate,#{value})
  </insert>
  
  <select id="selectCouponListById" resultType="kh.spring.dto.CouponDTO">
  	select * from coupon where member_id = #{member_id}
  </select>
  
  <select id="selectCouponPossibleById" resultType="int">
  	select count(*) from coupon where member_id = #{member_id} and coupon_used_yn = 'N'
  </select>
  
  <select id="selectRecordCount" resultType="int">
  	select count(*) from coupon where member_id = #{value}
  </select>
  
  <select id="selectByBound" resultType="kh.spring.dto.CouponDTO">
  	select * from (select * from (select target.*, row_number() over(order by coupon_id desc) rn from 
  	(select * from coupon where member_id = #{member_id}) target)) where rn between #{start} and #{end}
  </select>	
  </mapper>