<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="Coupon">
  
  <select id="selectAllByMemberId" resultType="kh.spring.dto.CouponDTO">
  		select coupon.*, floor((cast(coupon_valid_date as date)) - sysdate) valid_date from coupon where member_id=#{value} and coupon_used_yn = 'N'
  </select>
  
  <select id="selectByMemberIdCountCoupon" resultType="int">
  	select count(*) from coupon where member_id = #{value}
  </select>
  
  <insert id="insertSignUpEventDelivery">
  	insert into coupon values(coupon_id_seq.nextval,'웰컴 배송비 쿠폰',2500,'회원가입이벤트','9999/12/31','N',sysdate,#{value})
  </insert>
  
  <insert id="insertSignUpEventDiscount">
  	insert into coupon values(coupon_id_seq.nextval,'웰컴 할인 쿠폰',10000,'회원가입이벤트','9999/12/31','N',sysdate,#{value})
  </insert>
  
  <insert id="insertStarGradeDelivery">
  	insert into coupon values(coupon_id_seq.nextval,'별 등급 배송비 쿠폰',2500,'등급쿠폰','9999/12/31','N',sysdate,#{value})
  </insert>
  
  <insert id="insertStarGradeDiscount">
  	insert into coupon values(coupon_id_seq.nextval,'별 등급 할인 쿠폰',5000,'등급쿠폰','9999/12/31','N',sysdate,#{value})
  </insert>
  
  <insert id="insertMoonGradeDelivery">
  	insert into coupon values(coupon_id_seq.nextval,'달 등급 배송비 쿠폰',2500,'등급쿠폰','9999/12/31','N',sysdate,#{value})
  </insert>
  
  <insert id="insertMoonGradeDiscount">
  	insert into coupon values(coupon_id_seq.nextval,'달 등급 할인 쿠폰',10000,'등급쿠폰','9999/12/31','N',sysdate,#{value})
  </insert>
  
  <insert id="insertSunGradeDelivery">
  	insert into coupon values(coupon_id_seq.nextval,'해 등급 배송비 쿠폰',2500,'등급쿠폰','9999/12/31','N',sysdate,#{value})
  </insert>
  
  <insert id="insertSunGradeDiscount">
  	insert into coupon values(coupon_id_seq.nextval,'해 등급 할인 쿠폰',50000,'등급쿠폰','9999/12/31','N',sysdate,#{value})
  </insert>
  
  <select id="selectCouponListById" resultType="kh.spring.dto.CouponDTO">
  	select * from coupon where member_id = #{member_id}
  </select>
  
  <select id="selectCouponPossibleById" resultType="int">
  	select count(*) from coupon where member_id = #{member_id} and coupon_used_yn = 'N'
  </select>
  
  <select id="selectRecordCount" resultType="int">
  	select count(*) from coupon where member_id = #{value}
  </select>
  
  <select id="selectByBound" resultType="kh.spring.dto.CouponDTO">
  	select * from (select * from (select target.*, row_number() over(order by coupon_id desc) rn from 
  	(select * from coupon where member_id = #{member_id}) target)) where rn between #{start} and #{end}
  </select>	
  
  <update id="updateCouponUsed">
  	update coupon set coupon_used_yn = 'Y' where coupon_id = #{value}
  </update>
  
  <select id="selectAll" resultType="kh.spring.dto.CouponDTO">
  	select * from coupon order by coupon_id asc
  </select>
  
  <insert id="insertCoupon">
  	insert into coupon values(coupon_id_seq.nextval,#{coupon_name},#{coupon_discount_rate},#{coupon_event},#{coupon_valid_date},default, default, #{member_id} )
  </insert>
  
  <delete id="deleteCoupon">
  	delete from coupon where coupon_id=#{coupon_id}
  </delete>
  
  <update id="updateCoupon">
  	update coupon set coupon_name=#{coupon_name}, coupon_discount_rate=#{coupon_discount_rate}, coupon_event=#{coupon_event}, coupon_valid_date=#{coupon_valid_date}, member_id=#{member_id}, coupon_used_yn=#{coupon_used_yn} where coupon_id=#{coupon_id}
  </update>
  
  <delete id="deleteCouponByMemberId">
  	delete from coupon where member_id=#{member_id}
  </delete>
  
  <insert id="insertBirthCoupon">
  	insert into coupon values(coupon_id_seq.nextval,'호랑이 해 이벤트 쿠폰',10000,'이벤트쿠폰','9999/12/31','N',sysdate,#{value})
  </insert>
  </mapper>