<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="Coupon">
  
  <select id="selectAllByMemberId" resultType="kh.spring.dto.CouponDTO">
  		select * from coupon where member_id = #{member_id} and coupon_used_yn = 'Y' and coupon_valid_date > TO_CHAR(sysdate,'YY/MM/DD')
  </select>
  </mapper>