<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Faq">
	
	<select id="selectByBound" resultType="kh.spring.dto.FaqDTO">
		select * from 
		(select e.*, row_number() over(order by faq_id desc) as rn from 
		((select faq_id,faq_category,faq_title,faq_content,faq_write_date,faq_view_count,
		member_id,(select member_username from member where faq.member_id=member.member_id) 
		as member_username from faq order by faq_id) e))
		where rn between #{start} and #{end}
	</select>
	
	<select id="selectRecordCount" resultType="int">
		select count(*) from faq
	</select>
	
	<select id="selectMemberId" resultType="int">
		select * from member where member_username = #{username}
	</select>
	
	<insert id="insert">
		insert into faq values(faq_id_seq.nextval, #{faq_category}, #{faq_title}, #{faq_content},default,default,#{member_id})
	</insert>

	<select id="selectUsername" resultType="String">
		select member_username from member where member_id = #{value}
	</select>	
	
	<delete id="delete">
		delete from faq where faq_id = #{value}
	</delete>
		
	<select id="selectById" resultType="kh.spring.dto.FaqDTO">
		select * from faq where faq_id = #{value}
	</select>
	
	<update id="update">
		update faq set faq_category = #{faq_category}, faq_title = #{faq_title}, faq_content= #{faq_content} where faq_id = #{faq_id}
	</update>
	
	<select id="selectByKeyword" resultType="kh.spring.dto.FaqDTO">
		select * from
		(select e.*, row_number() over(order by faq_id desc) as rn from
		(select faq_id,faq_category,faq_title,faq_content,faq_write_date,faq_view_count,member_id,
		(select member_username from member where faq.member_id=member.member_id) as member_username
		from faq order by faq_id desc) e
		<trim prefix = "where">
			<if test="#{keyword}!=''">
				${select} like '%'||#{keyword}||'%'
			</if>
		</trim>
		)
		where rn between #{start} and #{end}
	</select>
		
	<select id="selectKeywordCount" resultType="int">
		select count(*) from (select faq_id,faq_category,faq_title,faq_content,faq_write_date,faq_view_count,
		member_id,(select member_username from member where faq.member_id=member.member_id) 
		as member_username from faq order by faq_id) where ${select} like '%'|| #{keyword} ||'%'
	</select>
	
	<select id="selectAll" resultType="kh.spring.dto.FaqDTO">
		select e1.*,e2.member_username from faq e1, member e2 where e1.member_id=e2.member_id
	</select>
	
		<select id="selectByKeywordAdmin" resultType="kh.spring.dto.FaqDTO">
		select * from
		(select e.*, row_number() over(order by faq_id desc) as rn from
		(select faq_id,faq_category,faq_title,faq_content,faq_write_date,faq_view_count,member_id,
		(select member_username from member where faq.member_id=member.member_id) as member_username
		from faq order by faq_id desc) e
		<trim prefix = "where">
			<if test="#{keyword}!=''">
				${select} = #{keyword}
			</if>
		</trim>
		)
		where rn between #{start} and #{end}
	</select>
		
	<select id="selectKeywordCountAdmin" resultType="int">
		select count(*) from (select faq_id,faq_category,faq_title,faq_content,faq_write_date,faq_view_count,
		member_id,(select member_username from member where faq.member_id=member.member_id) 
		as member_username from faq order by faq_id) where ${select} = #{keyword}
	</select>
	
<!-- 	<insert id="insertDummy"> -->
<!-- 		insert into faq values(faq_id_seq.nextval,#{category}, #{title}, #{content}, default, default, #{member_id}) -->
<!-- 	</insert> -->
	
</mapper>