<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Grade">
 	
 	<select id="selectAll" resultType="kh.spring.dto.GradeDTO">
 		select * from grade order by grade_target
 	</select>
	
	<select id="selectGradeTarget" resultType="int">
		select grade_target from grade order by grade_target
	</select>
	
	<insert id="insertGrade">
		insert into grade values(#{grade_name},#{grade_percent},#{grade_target},#{grade_coupon})
	</insert>
	
	<delete id="deleteGrade">
		delete from grade where grade_name = #{grade_name}
	</delete>
	
	<update id="updateGrade">
		update grade set grade_percent = #{grade_percent}, grade_target = #{grade_target}, grade_coupon = #{grade_coupon} where grade_name = #{grade_name}
	</update>
	
	<select id="checkGrade" resultType="int">
		select count(*) from grade where grade_name=#{grade_name}
	</select>
	
	<select id="selectGrade_point" resultType="int">
		select grade_percent*100 from grade where grade_name = (select grade_name from member where member_username = #{username})
 	</select>
 </mapper>