<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MdInqry">
	
	<select id="selectAllByBoundByMdId" resultType="kh.spring.dto.MdInqryDTO">
		select * from (
		select target.*, row_number() over(order by sort_md_question_id desc) rn
		from 
		(select * from 
		(select q.md_question_id sort_md_question_id, q.md_id, q.member_id, q.md_question_title, q.md_question_content, q.md_question_write_date, q.md_question_reply_yn, m.member_username md_question_username from md_question q join member m on q.member_id = m.member_id) mq
		left outer join 
		(select r.*, m.member_username md_response_username from md_response r join member m on r.member_id = m.member_id) mr
		on mq.sort_md_question_id = mr.md_question_id 
		where md_id =#{md_id}) target)
		where rn between #{start} and #{end}
	</select>
	
	<select id="selectCount" resultType="int">
		select count(*) from md_question where md_id = #{value}
	</select>
	
	
</mapper>