<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MdReview">

	<select id="selectAllByBoundByMdId" resultType="kh.spring.dto.MdReviewDTO">
		select * from 
		(select target.*, row_number() over(order by md_review_id desc) as rn 
		from (select r.*, m.member_username from md_review r join member m on r.member_id = m.member_id where r.md_id =#{md_id}) target)
		where rn between ${start} and ${end}
	</select>
	
	<select id="selectAllByBoundByMdIdViewSort" resultType="kh.spring.dto.MdReviewDTO">
		select * from 
		(select target.*, row_number() over(order by md_review_view_count desc) as rn 
		from (select r.*, m.member_username from md_review r join member m on r.member_id = m.member_id where r.md_id =#{md_id}) target)
		where rn between ${start} and ${end}
	</select>
	
	<select id="selectAllByBoundByMdIdLikeSort" resultType="kh.spring.dto.MdReviewDTO">
		select * from 
		(select target.*, row_number() over(order by md_review_like desc) as rn 
		from (select r.*, m.member_username from md_review r join member m on r.member_id = m.member_id where r.md_id =#{md_id}) target)
		where rn between ${start} and ${end}
	</select>
	
	<select id="selectCount" resultType="int">
		select count(*) from md_review where md_id = #{value}
	</select>
	
	<update id="viewCount">
		update 
	</update>
	
</mapper>