<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Notice">

	<select id="selectAll" resultType="kh.spring.dto.NoticeDTO">
		select * from notice order by notice_id desc
	</select>
	
	<select id="selectById" resultType="kh.spring.dto.NoticeDTO">
		select * from notice where notice_id = #{value}
	</select>
	
	<select id="selectUsername" resultType="String">
		select member_username from member where member_id = #{value}
	</select>
	
	<insert id="insert">
		insert into notice values(notice_id_seq.nextval, #{notice_title}, #{notice_content},default,default,#{member_id})
	</insert>
	
	<delete id="delete">
		delete from notice where notice_id = #{value}
	</delete>
	
	<update id="update">
		update notice set notice_title = #{notice_title}, notice_content= #{notice_content} where notice_id = #{notice_id}
	</update>
	
	<update id="updateViewCount">
		update notice set notice_view_count = notice_view_count + 1 where notice_id = #{notice_id}
	</update>

</mapper>