<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="Point">
 
  <insert id="insertRecommendMemberPoint">
     insert into point values(point_id_seq.nextval,'1000','추천인 입력',default,#{value})
  </insert>
  
  <insert id="insertEventMemberPoint">
     insert into point values(point_id_seq.nextval,'2000','이벤트 입력',default,#{value})
  </insert>
  
  <select id="selectPointById" resultType="int">
   		select sum(point_used_saved) from point where member_id = #{member_id}
  </select>

  </mapper>