<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="PurchaseDetail">

  		<insert id="insertPurchaseDetails" parameterType = "kh.spring.dto.PurchaseDetailDTO">
  			insert into purchase_detail(purchase_detail_id,purchase_id,md_id,purchase_detail_quantity,purchase_detail_price,purchase_detail_purchased,purchase_detail_cancel_order,purchase_detail_exchange,purchase_detail_refund,purchase_detail_cancel_sale,purchase_detail_result,purchase_detail_delivery_date) values
  			(purchase_detail_id_seq.nextval,#{purchase_id},#{md_id},#{purchase_detail_quantity},#{purchase_detail_price},default,default,default,default,default,default,'')
  		</insert>
  		
		<select id="selectAll" resultType="kh.spring.dto.PurchaseDetailDTO">
  			select e1.*, e2.member_id, e3.member_username, e4.md_name from purchase_detail e1, purchase e2, member e3, md e4 where e1.purchase_id=e2.purchase_id and e2.member_id=e3.member_id and e1.md_id=e4.md_id order by purchase_detail_id asc
  		</select>
  		
  		<delete id="deletePurchaseDetail">
  			delete from purchase_detail where purchase_detail_id = #{purchase_detail_id}
  		</delete>
  		
  		<select id="selectRecordCount" resultType= "int">
  			select count(*) from purchase_detail where purchase_id = #{purchase_id}
  		</select>
  		
  		<select id="selectCountDetail" resultType= "int">
  			select count(*) from purchase_detail
  		</select>
  		
  		<select id="salesRank" resultType= "kh.spring.dto.PurchaseDetailDTO">
  			select * from (select md_name, count(md_name) count from (select purchase_detail.*,md.md_name from purchase_detail left join md on(purchase_detail.md_id=md.md_id)) group by md_name) order by count desc
  		</select>
  
  		<update id="completeDelivery">
  			update purchase_detail set purchase_detail_result = 'Y', purchase_detail_delivery_date = sysdate where purchase_detail_id = #{purchase_detail_id}
  		</update>
  		
  		<update id="cancelDelivery">
  			update purchase_detail set purchase_detail_result = 'N', purchase_detail_delivery_date = '' where purchase_detail_id = #{purchase_detail_id}
  		</update>

		<update id="cancelOrder">
  			update purchase_detail set purchase_detail_cancel_order = 'Y' where purchase_id = #{purchase_id}
  		</update>

  </mapper>