<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="Purchase">
  
  		<insert id="insertPurchase">
  		
	  		<selectKey resultType="Integer" order="BEFORE" keyProperty="delivery_id">
						SELECT delivery_id_seq.currval FROM dual  
			</selectKey>
  			insert into purchase values(purchase_id_seq.nextval,#{member_id},sysdate,#{delivery_id},#{purchase_amount},#{purchase_delivery_fee},#{purchase_used_point},#{purchase_coupon},#{purchase_payment},#{purchase_method},'')
  		
  		</insert>
  
  
  		<select id="selectIdById" resultType="Integer">
  			select purchase_id from purchase where delivery_id = #{delivery_id}
  		</select>
  		
  		<delete id="deleteById">
  			delete from purchase where purchase_id = #{purchase_id}
  		</delete>
  		

  		<select id="findId" resultType="kh.spring.dto.PurchaseDTO">
  			select * from purchase where purchase_id = #{orderId}

		</select>
  		<select id="selectByIdSumPurchasePayment" resultType="integer">
  			select sum(purchase_payment) from purchase where member_id = #{value}

  		</select>

  		<select id="selectRecordCount" resultType= "int">
  			select count(*) from (select * from purchase p join purchase_detail d on p.purchase_id = d.purchase_id where member_id = #{value}) tem join md m on tem.md_id = m.md_id
  		</select>
  		
  		<select id="selectByBound" resultType="kh.spring.dto.MyPagePurchaseDTO">
  			select * from (select target.*, row_number() over(order by purchase_date desc) rn from (select * from (select * from purchase p join purchase_detail d on p.purchase_id = d.purchase_id where member_id = #{member_id}) tem join md m on tem.md_id = m.md_id) target) where rn between #{start} and #{end}
  		</select>

		<select id="selectAll" resultType="kh.spring.dto.PurchaseDTO">
  			select e1.*, e2.member_username from purchase e1, member e2 where e1.member_id=e2.member_id
  		</select>
  		
  		<delete id="deletePurchase">
  			delete from purchase where purchase_id = #{purchase_id}
  		</delete>
  		
  		<select id="selectPurchaseByBound" resultType="kh.spring.dto.PurchaseDTO">
  		select * from (select target.*, row_number() over(order by purchase_date desc) rn from (select * from purchase where member_id = #{member_id}) target) where rn between #{start} and #{end}
  		</select>
  		
  		<select id="selectPurchaseDetailByBound" resultType="kh.spring.dto.MyPagePurchaseDetailDTO">
  		select * from (select target.*, row_number() over(order by purchase_detail_id desc) rn from (select * from (select * from purchase_detail d join md m on d.md_id = m.md_id where purchase_id = #{purchase_id})) target) where rn between #{start} and #{end}
  		</select>
  		
		<select id="selectYear" resultType="kh.spring.dto.PurchaseDTO">
  			select * from (select substr(purchase_date,1,2) purchase_date_str, sum(purchase_amount) purchase_amount, sum(purchase_delivery_fee) purchase_delivery_fee, sum(purchase_used_point) purchase_used_point, sum(purchase_coupon) purchase_coupon from purchase group by substr(purchase_date,1,2)) where purchase_date_str=substr(sysdate,1,2)
  		</select>
		
  		<select id="selectMonth" resultType="kh.spring.dto.PurchaseDTO">
  			select * from (select substr(purchase_date,1,5) purchase_date_str, sum(purchase_amount) purchase_amount, sum(purchase_delivery_fee) purchase_delivery_fee, sum(purchase_used_point) purchase_used_point, sum(purchase_coupon) purchase_coupon from purchase group by substr(purchase_date,1,5)) where purchase_date_str=substr(sysdate,1,5)
  		</select>
  		
  		<select id="selectMonths" resultType="kh.spring.dto.PurchaseDTO">
  			select * from (select substr(purchase_date,1,5) purchase_date_str, sum(purchase_amount) purchase_amount, sum(purchase_delivery_fee) purchase_delivery_fee, sum(purchase_used_point) purchase_used_point, sum(purchase_coupon) purchase_coupon from purchase group by substr(purchase_date,1,5)) order by purchase_date_str
  		</select>

		<update id="updatePurchase">
			update purchase set receipt_id = #{receipt_id } where purchase_id = #{purchase_id}
		</update>
		
		<select id="selectPurchaseDateByBound" resultType="kh.spring.dto.PurchaseDateDTO">
		select * from (select target.*, row_number() over(order by purchase_date desc) rn from (select * from purchase where member_id = #{member_id} and purchase_date <![CDATA[<]]> sysdate-#{selectDate}) target) where rn between #{start} and #{end}
		</select>

  </mapper>