<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Seller">

	<select id="selectAllGrade" resultType="kh.spring.dto.GradeDTO">
		select * from grade
	</select>
	
	<insert id="insertGrade">
		insert into grade values(#{grade_name},#{grade_percent},#{grade_target},#{grade_coupon})
	</insert>
	
	<delete id="deleteGrade">
		delete from grade where grade_name = #{grade_name}
	</delete>
	
	<update id="updateGrade">
		update grade set grade_percent = #{grade_percent}, grade_target = #{grade_target}, grade_coupon = #{grade_coupon} where grade_name = #{grade_name}
	</update>
	
	<select id="checkGrade" resultType="int">
		select count(*) from grade where grade_name=#{grade_name}
	</select>

	<select id="selectAllMd" resultType="kh.spring.dto.MdDTO">
		select * from md
	</select>
	
	<select id="checkMd" resultType="int">
		select count(*) from md where md_name=#{md_name}
	</select>
	
	<insert id="insertMd">
		insert into md values(md_id_seq.nextval, #{md_region},#{md_name},#{md_content},#{md_price},#{md_category},#{md_abv},#{md_image},#{md_detail_image})
	</insert>
	
</mapper>