<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="Wish">
  	<select id="selectByBound" resultType="kh.spring.dto.WishDTO">
  		select * from (select * from (select target.*, row_number() over(order by wish_date desc) rn from 
  		(select * from wish w join md m on w.md_id = m.md_id where member_id = #{member_id}) target)) where rn between #{start} and #{end}
  	</select>
  	
  	<select id="selectRecordCount" resultType="int">
  		select count(*) from wish where member_id = #{value}
  	</select>
  </mapper>