@charset "UTF-8";

/*버튼 관련 */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

#btn-writeQna {
  color: #fff;
  background-color: #406882;
  border-color: #406882;
}

#btn-writeQna:hover,
#btn-writeQna:focus,
#btn-writeQna:active,
#btn-writeQna.active,
.open .dropdown-toggle#btn-writeQna {
  color: #fff;
  background-color: #1A374D;
  border-color: #1A374D;
}

/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius:0;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

#btn-writeQna {
  background: #406882;
  color: #ffffff;
}
#btn-writeQna:hover, #btn-writeQna:focus, #btn-writeQna:active, #btn-writeQna.active, .open > .dropdown-toggle#btn-writeQna {
  background: #1A374D;
}
#btn-writeQna:active, #btn-writeQna.active {
  background: #1A374D;
  box-shadow: none;
}

        .submenu h3{
            margin-bottom: 16px;
            cursor: pointer;
            color: teal;
        }
        .submenu h3:hover{
            text-decoration: underline;
        }
        /* 가려질 수 있도록 하자 */
        .hidden{
            display: none;
        }
        textarea{
        resize:none;
        width:100%;
        }        
        
#deleteButtonContainer{
text-align:right;
	}  



