
@charset "UTF-8";




/*body*/


.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}


/*body-main_title*/

#main_title{
	color: #4c4c4c;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top:50px;
    padding-bottom:30px
    
}


/*body-carousel*/


	         
 /*time attack*/
#countdown,
#HourCountdown,
#countExpire {
	    
display: inline;
	    
color: #406882;
	    
font-weight: bold;
	
font-size: 18px;
	                
 width:100%
	
}
	            
#timeattack{
padding-top:50px;
}


/*body-map*/
#map{
	item-align:center;

}



.dropdown {
  position: relative;
  display: inline-block;
  z-index: 500;
  text-align: left;

}

/*body - md*/
        
        .hover\:grow {
            transition: all 0.3s;
            transform: scale(1);
        }
        
        .hover\:grow:hover {
            transform: scale(1.02);
        }

