
@charset "UTF-8";




/*body*/



.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}


/*body-main_title*/

#main_title{
	color: #4c4c4c;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top:50px;
    padding-bottom:30px
    
}


/*body-carousel*/

#carousel{
	padding-right: 0 !important;
	padding-left: 0 !important;
	
}




/*md - main*/

#main-md-name{
	text-decoration:none !important; 
	color:#406882;
	font-size:17px;
	text-weight:bold;
}

#main-md-price{
	text-decoration:none !important; 
	color:#406882;
	font-size:15px;
}

.main-md a:hover{
		text-decoration:none !important; 
	
}


	         
 /*time attack*/
#countdown,
#HourCountdown,
#countExpire {
	    
display: inline;
	    
color: #406882;
	    
font-weight: bold;
	
font-size: 22px;

text-align:right;
	                
margin-top:50px;

position:absolute;

}
	            
#timeattack{
}

 /*time attack clock*/
       /* animation-icon 공통 디자인 */
      /* .clock-box{display: inline-block; 
            background-color: transparent;
             position: relative;
        }*/
        /* clock 원 디자인 */
        .clock-clock{
            width: 80px; height: 80px;
            border: 3px solid  #406882; border-radius: 50%; /* 정원 */
            position: relative;
            top: 57px; left: 57px; /* 박스 안에서 가운데 위치 */
        }
        /* 시계의 긴 바늘 */
        .clock-clock:after{
            content: "";
            width: 4px; height: 38px;
            border-radius: 5px;
            background: #406882;
            position: absolute;
            top: 3px; left: 48%;
            transform-origin: 50% 97%;
            animation: clocka 2s linear infinite;
        }
        @keyframes clocka{
            0%{transform: rotate(0deg);}
            100%{transform: rotate(360deg);}
        }
        /* 시계의 짧은 바늘 */
        .clock-clock:before{
            content: "";
            width: 4px; height: 35px;
            border-radius: 5px;
            background:  #406882;
            position: absolute;
            top: 7px; left: 48%;
            transform-origin: 50% 94%;
            animation: clockb 12s linear infinite;
        }
        @keyframes clockb{
            0%{transform: rotate(0deg);}
            100%{transform: rotate(360deg);}
        }
        
        @keyframes hourglass{
            0%{transform: rotate(0deg);}
            100%{transform: rotate(180deg)}
        }





/*body-map*/
#map{
	item-align:center;

}



.dropdown {
  position: relative;
  display: inline-block;
  z-index: 500;
  text-align: left;

}

/*body - md*/
        
        .hover\:grow {
            transition: all 0.3s;
            transform: scale(1);
        }
        
        .hover\:grow:hover {
            transform: scale(1.02);
        }

/*interval*/
#interval{
	padding-bottom:100px;
}

/*scroll 제거하는 코드*/
body{ width:100%;overflow-x:hidden; }



