@charset "UTF-8";



/* 검색창 */
#navi .gnb_search{position:absolute;right:400px;top:10px;width:242px}
#navi .gnb_search .inp_search{width:242px;height:36px;padding:0 60px 0 14px;border:1px solid #f7f7f6;border-radius:18px;background-color:#f7f7f7;font-family: 'Noto Sans';font-weight:400;font-size:12px;color:#666;line-height:16px;outline:none}
#navi .gnb_search .inp_search.focus{background-color:#fff;color:#333}
#navi .gnb_search .btn_search{position:absolute;right:5px;top:3px;width:30px;height:30px}

.social-part .fa{
    padding-right:20px;
}

#navi ul li a{
    margin-right: 20px;
}

#navi{
 box-shadow: 0px 2px 10px gray;

 }
 
 #navi ul {
 padding-left:15%;
 
 }

#topBar li {

	display:inline;
}



#topBar {
		position:absolute;
	right:300px;
	top:20px;
	z-index:1000;
	
}



/*topBar*/
.dropbtn {
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgba(255, 255, 255, 0.404);; 
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropdown-content a:hover {color:#1A374D !important;}




/*main logo*/
#mainLogo{
	text-align:center;
}

#logo{
	width:100%;
}

#topBar a{
	text-decoration:none !important;
	color:white;
}

#topBar a:hover{
	text-decoration:none !important;
	color:#6998AB;
	transition-duration: 0.4s;
	
}

#icon{
	position:absolute;
	right:300px;
	display:flex;
	align-items: center;
}




#heartbtn{
	color:#406882;
	font-size: 25px;
}

#heartbtn:hover{
transition-duration: 0.4s;
	
	color:#1A374D;
	font-size: 25px;
}


#cartbtn{
	color:#406882;
}

#cartbtn:hover {
		color:#1A374D;
transition-duration: 0.4s;

	
}


#sign{
	padding-left:10px;
	
}


#navi{
position:-webkit-sticky;
position:sticky;
top:0;	
z-index:100;
}

#mainLogo img{
	  position:relative;
}

.navScroll {
	position:relative;
	top:-7px;
}
