
@charset "UTF-8";

/*header*/

#header{
	padding-top:100px;
	padding-bottom:20px;
	
}



/*header-head login-signup-CS*/
*{
	text-decoration:none;
}

#userMenu {
    width: 1050px;
    margin: 0 auto;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}

#userMenu .menu_join .link_menu {
    color: #1A374D;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    display: block;
}


#userMenu * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: -.3px;
}

#userMenu .menu {
    position: relative;
    z-index: 400;
    float: left;
}

#userMenu * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: -.3px;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
#userMenu .menu_join .link_menu {
    color: #1A374D;
}

#userMenu .link_menu {
    float: left;
    height: 37px;
    padding: 0 12px;
    color: #333;
    line-height: 35px;
    white-space: nowrap;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#userMenu .menu.lst .link_menu {
    padding-right: 13px;
}

#userMenu .link_menu {
    float: left;
    height: 37px;
    padding: 0 12px;
    color: #333;
    line-height: 35px;
    white-space: nowrap;
}
#userMenu * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: -.3px;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#userMenu .lst .sub {
    left: auto;
    right: 0;
}
#userMenu .sub {
    display: none;
    position: absolute;
    left: 0;
    top: 34px;
    width: 102px;
    padding: 3px 9px;
    border: 1px solid #ddd;
    background-color: #fff;
}
#userMenu * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: -.3px;
}
ol, ul {
    list-style-type: none;
}

ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



#userMenu .sub a {
    font-size: 12px;
    color: #404040;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}
#userMenu * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: -.3px;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    /*text-decoration: underline;*/
}


div, th, td, li, dt, dd, p {
    word-break: break-all;
}
li {
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style-type: none;
}
ul ul {
    list-style-type: circle;
}
ul {
    list-style-type: disc;
}
li {
    text-align: -webkit-match-parent;
}
ul {
    list-style-type: disc;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    /*text-decoration: underline;*/
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

#userMenu * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: -.3px;
}

#userMenu .menu {
    position: relative;
    z-index: 400;
    float: left;
}

#userMenu * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: -.3px;
}

 

ol, ul {
    list-style-type: none;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#userMenu .link_menu {
    float: left;
    height: 37px;
    padding: 0 12px;
    color: #333;
    line-height: 35px;
    white-space: nowrap;
}


#userMenu * {
    font-family: noto sans;
    font-weight: 400;
    letter-spacing: -.3px;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}


#userMenu .list_menu {
    float: right;
      position: absolute;
  		top: 0;
  	margin-left:800px;
}

 
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    /*text-decoration: underline;*/
}

/*header-logo*/

#headerLogo {
    position: relative;
    width: 1050px;
    height: 63px;
    margin: 0 auto;
}
.layout-wrapper {
    position: relative;
    width: 1050px;
    height: 100%;
    margin: 0 auto;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#headerLogo .logo {
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 79px;
    text-align: center;
}
h1 {
    font-size: 2em;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#headerLogo .logo .link_main {
    display: inline-block;
    height: 79px;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    /*text-decoration: underline;*/
}
#headerLogo .logo {
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 79px;
    text-align: center;
}
h1 {
    font-size: 2em;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*dropdown*/


/*header-nav 지역별 상품, 상품, 검색바, 이벤트페이지, 찜한 상품*/

#userMenu {
    width: 1050px;
    margin: 0 auto;
}

#gnb .inner_gnbkurly {
    position: relative;
    width: 1050px;
    height: 56px;
    margin: 0 auto;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}

#gnb .gnb_main {
    overflow: visible;
    width: 1050px;
    margin: 0 auto;
}
div {
    display: block;
}
 

div {
    display: block;
}

body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}

#gnb .gnb_search {
    position: absolute;
    right: 174px;
    top: 10px;
    width: 242px;
}

#gnb .gnb_kurly:after {
    content: "";
    position: absolute;
    z-index: 299;
    left: 0;
    top: 56px;
    width: 100%;
    height: 9px;
    background: url(https://res.kurly.com/pc/service/common/1902/bg_1x9.png) repeat-x 0 100%;
}
ol, ul {
    list-style-type: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}


div, th, td, li, dt, dd, p {
    word-break: break-all;
}

#userMenu {
    width: 1050px;
    margin: 0 auto;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    display: block;
}

body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
#gnb .gnb_kurly {
    position: relative;
    z-index: 300;
    min-width: 1050px;
    background-color: #fff;
    font-family: 'Noto Sans';
    letter-spacing: -0.3px;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#gnb .gnb_kurly:after {
    content: "";
    position: absolute;
    z-index: 299;
    left: 0;
    top: 56px;
    width: 100%;
    height: 9px;
    background: url(https://res.kurly.com/pc/service/common/1902/bg_1x9.png) repeat-x 0 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#gnb .inner_gnbkurly {
    position: relative;
    width: 1050px;
    height: 56px;
    margin: 0 auto;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}
#gnb .gnb_kurly {
    position: relative;
    z-index: 300;
    min-width: 1050px;
    background-color: #fff;
    font-family: 'Noto Sans';
    letter-spacing: -0.3px;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#gnb .gnb_main .gnb li {
    float: left;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style-type: none;
}

ul {
    list-style-type: disc;
}
#gnb .gnb_kurly {
    position: relative;
    z-index: 300;
    min-width: 1050px;
    background-color: #fff;
    font-family: 'Noto Sans';
    letter-spacing: -0.3px;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


element.style {
}
#gnb .gnb_main .menu1 a {
    width: 148px;
}
#gnb .gnb_main .gnb a {
    overflow: visible;
    float: left;
    width: 124px;
    height: 55px;
    padding: 16px 0 0;
    font-size: 16px;
    color: #333;
    line-height: 20px;
    text-align: center;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    /*text-decoration: underline;*/
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
li {
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style-type: none;
}
ul {
    list-style-type: disc;
}
#gnb .gnb_kurly {
    position: relative;
    z-index: 300;
    min-width: 1050px;
    background-color: #fff;
    font-family: 'Noto Sans';
    letter-spacing: -0.3px;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#gnb .gnb_main .menu1 .ico {
    float: left;
    width: 16px;
    height: 14px;
    margin: 5px 14px 0 0;
    background: url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off.png) no-repeat;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#gnb .gnb_main .gnb a {
    overflow: visible;
    float: left;
    width: 124px;
    height: 55px;
    padding: 16px 0 0;
    font-size: 16px;
    color: #333;
    line-height: 20px;
    text-align: center;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
li {
    text-align: -webkit-match-parent;
}

#gnb .gnb_main .gnb a .txt {
    font-weight: 700;
}
#gnb .gnb_main .menu1 a.on .txt, #gnb .gnb_main .menu1 a:hover .txt, #gnb .gnb_main .menu1 .txt {
    float: left;
    font-weight: 700;
    border-bottom: 0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ?? */
  /* override */
  #content{padding-bottom:0}
  #qnb{top:516px}
  #headerLogo .logo img {display: none}


  #kurlyMain {
    position: relative;
    z-index: 0;
    overflow-x: hidden;
  }
  img {vertical-align: top; max-width: 100%}
  #footer{display: none}

  
 

/*body*/
body


.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}


/*body-main_title*/

#main_title{
	color: #4c4c4c;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top:50px;
    padding-bottom:30px
    
}


/*body-carousel*/


/*body-timeatack*/
          /*time attack*/
            #countdown,
            #HourCountdown,
            #countExpire {
    
                display: inline;
    
                color: #406882;
    
                font-weight: bold;

                font-size: 25px;
                
                width:100%

            }
            
            #timeattack{
            padding-top:50px;
            }



/*body-map*/
#map{
	item-align:center;
}

/*body - md*/
        
        .hover\:grow {
            transition: all 0.3s;
            transform: scale(1);
        }
        
        .hover\:grow:hover {
            transform: scale(1.02);
        }

/*footer*/

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 500;
  text-align: left;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 500;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 100;
  text-align: left;
}


li{
  list-style:none;
}


/*main style tag*/

#headerLogo{position:relative;width:1050px;height:63px;margin:0 auto}
#headerLogo .bnr_delivery{position:absolute;left:-1px;top:-28px;margin:auto;height:22px}
#headerLogo .logo{position:absolute;left:0;bottom:6px;width:100%;height:79px;text-align:center}
#headerLogo .logo .link_main{display:inline-block;height:79px}
#headerLogo .logo img{display:block;width:103px;height:79px;margin:0 auto}
#headerLogo .logo #gnbLogoContainer {margin:0 auto}
#gnb.gnb_stop {height: 56px}
#gnb.gnb_stop .fixed_container{position:fixed;z-index:300;left:0;top:0;width:100%}
#gnb .gnb_kurly{position:relative;z-index:300;min-width:1050px;background-color:#fff;font-family:'Noto Sans';letter-spacing:-0.3px}
#gnb .gnb_kurly:after{content:"";position:absolute;z-index:299;left:0;top:56px;width:100%;height:9px;background:url(https://res.kurly.com/pc/service/common/1902/bg_1x9.png) repeat-x 0 100%}
#gnb .inner_gnbkurly{position:relative;width:1050px;height:56px;margin:0 auto}
/* 검색창 */
#gnb .gnb_search{position:absolute;right:174px;top:10px;width:242px}
#gnb .gnb_search .inp_search{width:242px;height:36px;padding:0 60px 0 14px;border:1px solid #f7f7f6;border-radius:18px;background-color:#f7f7f7;font-family: 'Noto Sans';font-weight:400;font-size:12px;color:#666;line-height:16px;outline:none}
#gnb .gnb_search .inp_search.focus{background-color:#fff;color:#333}
#gnb .gnb_search .btn_search{position:absolute;right:5px;top:3px;width:30px;height:30px}

/* GNB메인 */
#gnb .gnb_main{overflow:visible ;width:1050px;margin:0 auto}
#gnb .gnb_main .gnb{float:left;width:100%}
#gnb .gnb_main .gnb li{float:left}
#gnb .gnb_main .gnb .lst{background:none}
#gnb .gnb_main .gnb a{overflow:visible;float:left;width:124px;height:55px;padding:16px 0 0;font-size:16px;color:#333;line-height:20px;text-align:center}
#gnb .gnb_main .gnb a .txt{font-weight:700}
#gnb .gnb_main .gnb a:hover,
#gnb .gnb_main .gnb a.on{font-weight:700;color:#1A374D}
#gnb .gnb_main .menu1 a{width:148px}
#gnb .gnb_main .menu1 .ico{float:left;width:16px;height:14px;margin:5px 14px 0 0;background:url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off.png) no-repeat}
#gnb .gnb_main .menu1 a.on .ico,
#gnb .gnb_main .menu1 a:hover .ico{background:url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all.png) no-repeat 0 0}
#gnb .gnb_main .menu1 a.on .txt,
#gnb .gnb_main .menu1 a:hover .txt,
#gnb .gnb_main .menu1 .txt{float:left;font-weight:700;border-bottom:0}
#gnb .gnb_main .menu3 a{width:116px}
#gnb .gnb_main .lst a{width:116px}
/* GNB서브 */
#gnb .gnb_sub{display:none;overflow:hidden;position:absolute;z-index:301;left:0;top:55px;width:213px;padding-top:1px}
#gnb .gnb_sub .inner_sub{width:100%;border:1px solid #ddd;background:url(https://res.kurly.com/pc/service/common/1908/bg_gnb_sub_v3.png) repeat-y 0 0}
#gnb .size_over{overflow-x:hidden;overflow-y:auto}
#gnb .gnb_sub .gnb_menu{width:219px}
#gnb .gnb_sub .gnb_menu li{width:100%;text-align:left}
#gnb .gnb_sub .gnb_menu li:first-child{padding-top:0}
#gnb .gnb_sub .menu{display:block;overflow:hidden;width:100%;height:40px;padding:8px 0 0 14px;cursor:pointer}
#gnb .gnb_sub .gnb_menu li:first-child .menu{height:39px;padding-top:7px}
#gnb .gnb_sub .current .menu{background:#f7f7f7}
#gnb .gnb_sub .current .txt,
#gnb .gnb_sub .menu.on.off:hover .txt, 
#gnb .gnb_sub .menu.on .txt{font-weight:700;color:#1A374D}
#gnb .gnb_sub .ico{float:left;width:24px;height:24px}
#gnb .gnb_sub .ico img{width:24px;height:24px}
#gnb .gnb_sub .ico .ico_off{display:block}
#gnb .gnb_sub .ico .ico_on{display:none}
#gnb .gnb_sub .current .ico_off,
#gnb .gnb_sub .menu.on .ico_off,
#gnb .gnb_sub .menu:hover .ico_off{display:none}
#gnb .gnb_sub .current .ico_on,
#gnb .gnb_sub .menu.on .ico_on,
#gnb .gnb_sub .menu:hover .ico_on{display:block}
#gnb .gnb_sub .ico_arrow{display:none;float:right;width:16px;height:17px;padding:6px 9px 0 0}
#gnb .gnb_sub .ico_arrow img{width:7px;height:11px}
#gnb .gnb_sub .current .ico_arrow{display:block}
#gnb .gnb_sub .ico_new{overflow:hidden;float:left;width:14px;height:14px;margin-top:5px;background-position:50% 50%;background-repeat:no-repeat;background-size:14px 14px;font-size:0;line-height:0;text-indent:-9999px}
#gnb .gnb_sub .sub_menu{position:absolute;z-index:0;left:200px;top:0;width:248px;height:100%;padding:0 0 0 20px;background:url(https://res.kurly.com/images/common/bg_1_1.gif) repeat 0 0;opacity:0;transition:opacity 0.2s}
#gnb .gnb_sub .current .sub_menu{z-index:1;opacity:1;transition:opacity 0.5s}
#gnb .gnb_sub .sub_menu li:first-child{padding-top:11px}
#gnb .gnb_sub .sub_menu .sub{display:block;overflow:hidden;height:40px;padding-left:20px;font-size:14px;color:#333;line-height:18px;cursor:pointer}
#gnb .gnb_sub .sub_menu .sub.on{font-weight:700;color:#1A374D}
#gnb .gnb_sub .recommend{overflow:hidden;width:529px;padding:21px 0 0 40px}
#gnb .gnb_sub .recommend li{float:left;width:120px;height:130px;padding:0 10px 0 0}
#gnb .gnb_sub .recommend li:first-child{padding-top:0}
#gnb .gnb_sub .recommend .sub{display:block;overflow:hidden;width:120px;height:130px;padding:0;cursor:pointer}
#gnb .gnb_sub .recommend .thumb{display:block;width:110px;height:83.4px;margin-bottom:8px;background-position:50% 50%;background-repeat:no-repeat;background-size:cover}
#gnb .gnb_sub .recommend .thumb img{width:110px;height:84px}
#gnb .gnb_sub .recommend .name{font-size:14px;line-height:18px}
#gnb .btn_location{overflow:hidden;position:absolute;right:107px;top:10px;width:36px;height:36px;border:0 none;background:url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting_done.svg) no-repeat 50% 50%;font-size:0;text-indent:-9999px}
#gnb .btn_location.on{background-image:url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting.svg?ver=1)}
#gnb .layer_location{display:none;position:absolute;z-index:300;right:41px;top:56px;width:315px;padding:18px 18px 19px 20px;border:1px solid #ddd;background-color:#fff}
#gnb .layer_location:after{content:"";position:absolute;right:66px;top:-50px;width:36px;height:50px;background:url(https://res.kurly.com/pc/ico/2011/ico_point_up_18x12.svg) no-repeat 50% 100%}
#gnb .layer_location *{font-weight:500;font-size:16px;color:#333;line-height:24px;letter-spacing:-0.34px}
#gnb .layer_location .delivery{display:inline-block;padding-top:8px;font-size:14px;font-weight:normal;letter-spacing:-0.2px;line-height:normal;}
#gnb .layer_location .courierTime{display:inline-block;margin-left:6px;display:inline-block;font-size:14px;font-weight:normal;line-height:normal;color:#666;letter-spacing:-0.2px;}
#gnb .layer_location .star{color:#1A374D}
#gnb .layer_location .regular{color:#666}
#gnb .layer_location .none{color:#999}
#gnb .layer_location .btn{display:block;width:100%;height:36px;margin-top:17px;padding-bottom:2px;border-radius:3px;font-size:12px;line-height:32px;letter-spacing:0;text-align:center}
#gnb .layer_location a.btn{padding-top:0}
#gnb .layer_location .btn .ico{display:inline-block;width:20px;height:20px;margin:6px 0 0 -6px;background:url(https://res.kurly.com/pc/ico/2008/ico_search_40x40.png) no-repeat 50% 50%;background-size:20px 20px;vertical-align:top}
#gnb .layer_location .group_button{display:block;overflow:hidden}
#gnb .layer_location .double .default{float:left;width:110px}
#gnb .layer_location .double .active{float:right;width:159px}
#gnb .layer_location .double .btn {margin-left: 0; margin-right:0;}
#gnb .layer_location .emph{color:#1A374D}
#gnb .location_set:hover .btn_location.on{background-image:url(https://res.kurly.com/pc/ico/2010/ico_delivery_setting_on.svg)}
#gnb .location_set.show .layer_location,
#gnb .location_set:hover .layer_location{display:block}
#gnb .location_set .btn_location.off,
#gnb .location_set .btn_location.off:hover{background-image:url(https://res.kurly.com/pc/ico/2008/ico_delivery_off.svg?ver=1);cursor:default}
#gnb .location_set.off .layer_location,
#gnb .location_set.off:hover .layer_location{display:none}
#gnb .gnbPick{
  display: inline-block;
  position: absolute;
  right: 51px;
  top: 10px;
  width: 36px;
  height: 36px;
  font-size: 0px;
}
#gnb .gnbPick .btn_pick{
  display: inline-block;
  width: 36px;
  height: 36px;
  border: none;
  color: transparent;
  background: url(https://res.kurly.com/pc/service/pick/btn-heart-off.svg) no-repeat 50% 50%;
  cursor: pointer;
}
#gnb .gnbPick .btn_pick:hover{
  background: url(https://res.kurly.com/pc/service/pick/btn-heart-hover.svg) no-repeat 50% 50%;
}
/* 오류 */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
  #gnb .gnb_sub .ico_new{background:url(https://res.kurly.com/pc/ico/1808/ico_new_gnb_16x16.png) no-repeat 0 0;background-size:14px 14px}
  #gnb .cart_count .msg_cart .point{background:url(https://res.kurly.com/pc/ico/1903/ico_layer_point_x2.png) no-repeat 0 0;background-size:20px 14px}
  #gnb .gnb_main .menu1 .ico{background:url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off_x2.png) no-repeat 0 0;background-size:16px 14px}
  #gnb .gnb_main .menu1 a.on .ico,
  #gnb .gnb_main .menu1 a:hover .ico{background:url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_x2.png) no-repeat 0 0;background-size:16px 14px}
}
.gnb_search .init{position:relative}
.gnb_search .init .btn_delete{overflow:hidden;position:absolute;left:170px;top:-36px;width:36px;height:36px;border:0 none;background:url(https://res.kurly.com/pc/ico/2010/ico_search_del.svg) no-repeat 50% 50%;background-size:12px 12px;font-size:0;line-height:0;text-indent:-9999px;opacity:0}
.gnb_search .init .btn_delete.on{opacity:1}



/* footer */

/***** Footer *****/
.footer-bs {
    background-color: white;
	padding: 60px 40px;
	color: 4c4c4c;
	border-top-left-radius: 0px;
    /*box-shadow: 0px 10px 2px #c0c0c0, 0px -2px 2px #c0c0c0;*/
    }
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:4c4c4c;}

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:4c4c4c; font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:4c4c4c; text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:4c4c4c; }
.footer-bs .footer-nav ul.list a:hover { color:4c4c4c; text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:4c4c4c;}
.footer-bs .footer-social a:hover { color:4c4c4c; text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:4c4c4c; }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px 4c4c4c; }
}
